.nav {
    grid-area: n;
    background: rgb(122,122,122);
    padding: 20px;
}
.item a {
    color: white;
    font-size: larger;
    text-decoration: none;
}
.item a.active {
    color: lawngreen;
}