.imgBack img {
    width: 875px;
    height: 150px;
}
.profile img {
    width: 200px;
    padding: 20px;
}
.profile {
    display: grid;
    grid-template-columns: 300px 500px;
    text-align: left;
}
.divider {
    border-top: 5px solid #bbb;
    border-radius: 3px;
}