.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogsItems {
    padding: 10px;

}
.dialog img {
    width: 15px;
    border-radius: 10px;
}
.dialog a {
    color: black;
    text-decoration: none;
}
.dialog a.active {
    color: aqua;
}
.messages {
    padding: 10px;
}
.messages .message {

}